{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}"/>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <a class="back-button" href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}" width="80" height="110" alt="Fasteat home"></a>
            <h1 class="animated-heading">FASTEAT<span class="blinking-cursor">|</span></h1>
            <p class="description">
                Welcome to FASTEAT, your ultimate destination for delicious food delivered right to your doorstep. Whether you're craving a quick snack, a hearty meal, or something sweet, FoodDsy connects you with the best local restaurants and eateries. With a few taps on your phone, you can explore a diverse menu, place your order, and enjoy hot, fresh food in no time.
            </p>
            <form action="login" id="loginForm" class="login-form" method="post">
                {% csrf_token %}
                {% if messages %}
            <div>
            {% for message in messages %}
                <div style="padding: 10px; background-color: #dff0d8; color: #3c763d; border: 1px solid #d6e9c6; margin-bottom: 15px; border-radius: 4px;">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
            {% endif %}
                <input type="email" id="email" name="email" placeholder="Email" class="input-field">
                <input type="password" id="password" name="password" placeholder="Password" class="input-field">
                <button type="submit" class="submit-button">Login</button>
            </form>
            <p class="already-signed-up">
                Not signed up? <a href="{% url 'signup' %}">Sign In</a>
            </p>
        </div>
        <div class="right-section">
            <img src="{% static 'images/login_img1.jpg'%}" alt="Delicious Food" class="transition-image">
            <img src="{% static 'images/login_img2.jpg'%}" alt="Delicious Food" class="transition-image">
            <img src="{% static 'images/login_img3.jpg'%}" alt="Delicious Food" class="transition-image">
            <img src="{% static 'images/login_img4.jpg'%}" alt="Delicious Food" class="transition-image">
            <img src="{% static 'images/login_img5.jpg'%}" alt="Delicious Food" class="transition-image">
            <img src="{% static 'images/login_img6.jpg'%}" alt="Delicious Food" class="transition-image">
            <img src="{% static 'images/login_img7.jpg'%}" alt="Delicious Food" class="transition-image">
        </div>
    </div>

    <script src="{% static 'js/signup.js'%}">
    </script>
</body>
</html>
